.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow:
      0 -10px 20px rgba(0, 0, 0, 0.1),
      0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    .title {
      font-size: 1.75rem;
      font-weight: 700;
      margin-bottom: 2rem;
      text-align: center;
    }

    .inputs {
      display: flex;
      flex-direction: column;
    }
  }
}
